.section {
    background-color: white;
}

.section__header {
    border-bottom: 2px solid #eee;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}